.home {
  background-color: $primary;
  box-shadow: inset 0 0 100px color(black a(20%));
  color: white;
  text-align: center;
  padding: 50px;
  position: absolute;
  width: 100%;
  height: 100%;
}

.logo {
  max-width: 500px;
  margin: 0 auto;
}

.intro {
  font-size: $alpha;
  text-shadow: 2px 2px 0 color(black a(20%));
  line-height: 1.2;
}


.join {
  margin: 50px auto;
  display: table;
  text-shadow: 1px 1px 0 color(black a(20%));
}
